In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import networkx as nx
from scipy.optimize import curve_fit
import os

In [2]:
datapath = '/home/lautaro/Workspace/ib/code/codedoc/realdata/redes/FAO'
os.listdir(datapath)

['FAOSTAT_A-S_E',
 'FAO_manlio',
 'nodes-merged.csv',
 'edges.csv',
 'coordinate-countries-fixed.csv',
 'gprops copy.csv',
 'nodes-fixed.csv',
 'gprops.csv',
 'exports_by_country.csv',
 'ordered_nodes.csv',
 'not_nodes.csv',
 'net_trade_by_country.csv',
 'gprops-fixed.csv',
 'nodes.csv',
 'FAOSTAT_T-Z_E',
 'imports_by_country.csv']

In [3]:
products = eval(open(os.path.join(datapath, "gprops-fixed.csv")).read())

def get_all_edges():
    all_edges = pd.read_csv(os.path.join(datapath, "edges.csv"))
    all_edges = all_edges.rename(
        columns={
            "# source": "source",
            " target": "target",
            " weight": "weight",
            " layer": "layer",
        }
    )
    return all_edges

def get_edges_by_layer(layer=0):
    all_edges = get_all_edges()

    unique_count = all_edges[["source", "target"]].values.flatten()
    unique_count = len(set(unique_count))

    one_layer_edges = all_edges[all_edges["layer"] == layer + 1]

    del all_edges
    return one_layer_edges[
        one_layer_edges["source"] != one_layer_edges["target"]
    ]

In [4]:
full_dataset = get_all_edges()
# Descomento si me quiero sacar de encima las subdivisiones de China
# Drop all entries of full_dataset where either source or target are equal to 7, 8, 9 or 139 (Hong Kong, China mainland, Taiwan, Macao)
# full_dataset = full_dataset[~full_dataset["source"].isin([7, 8, 9, 139])]
# full_dataset = full_dataset[~full_dataset["target"].isin([7, 8, 9, 139])]

In [5]:
# Para agregarle los nombres a la tabla
nodes = pd.read_csv(os.path.join(datapath, 'nodes-fixed.csv'))
nodes = nodes.rename(columns={'# index': 'index', ' name': 'name'})
nodes = nodes.drop(columns=[' nodeLabel', ' _pos'])
nodes['name'] = nodes['name'].str.replace('_', ' ')

In [6]:
# Agrupo por pais en source y target y sumo los pesos
export_sum = full_dataset.groupby('source')['weight'].sum().reset_index()
export_sum['weight'] = export_sum['weight'] / 1000
export_sum = export_sum.rename(columns={'source': 'index', 'weight': 'exports (m usd)'})
export_sum = export_sum.merge(nodes, on='index', how='inner')
export_sum = export_sum[['index', 'name', 'exports (m usd)']]
export_sum.to_csv(os.path.join(datapath, 'exports_by_country.csv'), index=False)

import_sum = full_dataset.groupby('target')['weight'].sum().reset_index()
import_sum['weight'] = import_sum['weight'] / 1000
import_sum = import_sum.rename(columns={'target': 'index', 'weight': 'imports (m usd)'})
import_sum = import_sum.merge(nodes, on='index', how='inner')
import_sum = import_sum[['index', 'name', 'imports (m usd)']]
import_sum.to_csv(os.path.join(datapath, 'imports_by_country.csv'), index=False)

In [7]:
# Outer join de export e import
merged_df = export_sum.merge(import_sum, left_on='index', right_on='index', how='outer')
merged_df['exports (m usd)'].fillna(0, inplace=True)
merged_df['imports (m usd)'].fillna(0, inplace=True)
merged_df = merged_df.rename(columns={'name_x': 'name'})
merged_df

     index            name  exports (m usd)       name_y  imports (m usd)
0        0     Afghanistan          231.067  Afghanistan          690.196
1        1       Australia        29535.613    Australia         9404.863
2        2         Austria         9919.616      Austria        12019.980
3        3         Belgium        30765.632      Belgium        32002.948
4        4          Brazil        68635.271       Brazil         9512.232
..     ...             ...              ...          ...              ...
209    209  Cayman Islands            3.046          NaN            0.000
210    210         Mayotte            0.429          NaN            0.000
211    211        Maldives            1.154     Maldives          231.032
212    212      Mauritania            3.946   Mauritania          353.950
213    213         Andorra            0.011          NaN            0.000

[214 rows x 5 columns]

In [12]:
# Calculate the subtraction of 'value' from source minus 'value' from target
merged_df['net_trade (m usd)'] = merged_df['exports (m usd)'] - merged_df['imports (m usd)']

# Select only the relevant columns
result_df = merged_df[['index', 'name', 'net_trade (m usd)']]
result_df.to_csv(os.path.join(datapath, 'net_trade_by_country.csv'), index=False)

result_df

     index            name  net_trade (m usd)
0        0     Afghanistan           -459.129
1        1       Australia          20130.750
2        2         Austria          -2100.364
3        3         Belgium          -1237.316
4        4          Brazil          59123.039
..     ...             ...                ...
209    209  Cayman Islands              3.046
210    210         Mayotte              0.429
211    211        Maldives           -229.878
212    212      Mauritania           -350.004
213    213         Andorra              0.011

[214 rows x 3 columns]

In [72]:
# use full dataset to sum all entries in weight where source == 8 and target == 7
# then divide by 1000 to get the value in millions
full_dataset[(full_dataset['source'] == 8) & (full_dataset['target'] == 7)]['weight'].sum() / 1000 - full_dataset[(full_dataset['source'] == 7) & (full_dataset['target'] == 8)]['weight'].sum() / 1000 + full_dataset[(full_dataset['source'] == 8) & (full_dataset['target'] == 9)]['weight'].sum() / 1000 - full_dataset[(full_dataset['source'] == 9) & (full_dataset['target'] == 8)]['weight'].sum() / 1000 + full_dataset[(full_dataset['source'] == 8) & (full_dataset['target'] == 139)]['weight'].sum() / 1000 - full_dataset[(full_dataset['source'] == 139) & (full_dataset['target'] == 8)]['weight'].sum() / 1000

0.0